@use "../abstracts/mixins" as *;

.container .flex-grid {
    margin-left: -1rem;
    margin-right: -1rem;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;

    &.justify-center {
        justify-content: center;
    }

    .col {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;

        @for $i from 1 through 12 {
            &.md-#{$i} {
                @include breakpoint-md() {
                    width: calc(100% / 12 * #{$i});
                }
            }
        }
    }
}
